body {
    background-image: url(bg-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Manrope', sans-serif;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    background-color: white;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 5px 5px 50px #BDCCFF;
    position: relative;
    margin-top: 90px;
}

.number-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gray-styling {
    color: gray;
    font-size: 15px;
}

#price {
    margin-right: 10px;
    font-size: 40px;
}

.slider  {
   background-color: #4ABAAF;
    appearance: none;
    width: 100%;
    height: 16px; 
    outline: none; 
  }

#checkbox {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 45px; 
    height: 45px; 
    background: #4ABAAF; 
    cursor: pointer; 
    border-radius: 50%;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.discount {
   padding: 10px;;
   font-size: 13px;
   background-color: lightcyan;
    color: cyan;
    border-radius: 50px;
    margin-left: 10px;
    text-align: center;
    width: 40px;
}

hr {
    width: 100%;
    height: 1px;
    color: lightgray;
    background-color: lightgray;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.check-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-img-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

#start-trial {
    display: flex;
    height: 50px;
    background-color: navy;
    color: lightskyblue;
    border-radius: 50px;
    align-items: center;
    width: 175px;
    justify-content: center;
}

.check-column {
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 600px) {
    .number-container {
        flex-direction: column;
    }
    #traffic {
        font-size: 6vw
    }
    #signup {
        font-size: 3vw;
    }
    .main-container {
        padding: 25px;
    }
    .check-container {
        flex-direction: column;
    }
    
}
  
